@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body: #08070b;
  --container: #24232c;
  --text-grey: #817d92;
  --placeholder: #54535b;
  --text: #e6e5ea;
  --accent: #a4ffaf;
}

html {
  font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: var(--body);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 1rem;
}

#app {
  width: 100%;
}
